<h1>My Dogs Quiz 2 Application</h1>

<% @dogs.each do |dog | %>
  <div class='dog-column col-xs-12 col-md-6'>
    <h2><%=dog.name%></h2>
    <h3><%=dog.breed%><h3>
    <h4><%=dog.nickname%></h4>
  </div>
<% end %>