@import "bootstrap-sprockets";
@import "bootstrap";

/* ----- Classes ----- */
.dog-header {
  font-family: 'sf_wonder_comicbold_italic';
  margin-top: 20px;

  .btn {
    font-size: 20px;
    background-color: DarkGreen;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
 
.modal-dialog {

  .modal-title {
    font-family: 'sf_wonder_comicbold_italic';
    font-size: 24px;
    color: white;
    background-color: DarkGreen;
  }

  .is-dead-box {
    label {
      text-align: left;
    }
  }

  .btn {
    font-family: sf_wonder_comicregular;
    font-size: 20px;
    color: white;
    background-color: DarkGreen;
  }

}

.simple_form {
  label {
    float: left;
    width: 100px;
    text-align: right;
    margin:2px 10px;
  }
}

.dog-column { 
  p {
    text-align: justify;
    font-size: 14px;
    background: #ffe4c4;
  }
}


.clear { clear: both; }

/* ----- Tags ----- */
html {
  height: 100%;
}

body {
  background-image: url('/assets/backgroundTrees.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'Noto Sans', sans-serif;
}
  
h1, h2 {
  color: DarkGreen;
  text-align: center;
  font-weight: normal;
}
h1 {
  font-family: 'sf_wonder_comicbold_italic';
  font-size: 40px;
}
h2 {
  font-family: 'sf_wonder_comicitalic';
  font-size: 32px;
}
h3, h4 {
  text-align: center;
}

hr {
  border-top: 4px double DarkGreen;
  clear: both;
}

